---
layout: page
description: "Notes on Harmonay & Counterpoint"
---


{% for file in site.notes %}
{% assign path = file.url | split: "/" %}<br>
{% assign dir = path[2] %}
{{ dir }}
uniq??? 
https://shopify.github.io/liquid/filters/uniq/
{% endfor %}

<h1>Counterpoint</h1>
{% for note in site.notes %}
{% if note.url contains "counterpoint" %}
<ul>
  <li>
    <a href='{{note.url}}'>
      {{ note.date | date: "%-d %b, %Y"}}&raquo; {{note.title}}
    </a>
  </li>
</ul>
{% endif %}
{% endfor %}

<h1>Harmony</h1>
{% for note in site.notes %}
{% if note.url contains "harmony" %}
<ul>
  <li>
    <a href='{{note.url}}'>
      {{ note.date | date: "%-d %b, %Y"}}&raquo; {{note.title}}
    </a>
  </li>
</ul>
{% endif %}
{% endfor %}

